<div class="header main">
    <div class="show-list hidden"></div>
    <img src="images/scribe-logo.svg" alt="" class="img-main">
</div>
<div class="content-wrapper">
    <div class="row login">
    	<div class="col-xs-12">
	        <!-- <div class="main-cover">
	            <img src="images/cover-bkgnd.png" alt="">
	        </div> -->
	        <h1>Ay&uacute;danos a escoger los diseños que prefieras, para tus libretas y cuadernos.</h1>
	        <a href="#/about"><div class="red-btn">Iniciar</div></a>
    	</div>
    </div>
</div>
